<div>
  <h2>MARK-V!!</h2>
  <hr>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="search()" autocomplete="off">
        <input type="text" name="TextUser" class="form-control" [(ngModel)]="textUser"
               (input)="keyPressed( $event )" (onEnter)="searchM( $event )" (onDebounce)="suggestions( $event )">
      </form>
    </div>
  </div>
  <ul *ngIf="showSuggestions === true"
        class="list-group">
        <li *ngFor="let pais of membersSuggested"
            class="list-group-item list-group-item-action">
            <a class="nav-link">
                {{ pais.name.common }}
            </a>
        </li>

        <li class="list-group-item list-group-item-action"
            (click)="searchSuggested( textUser ) ">
            <a class="nav-link">
                Buscar "{{ textUser}}"
            </a>
        </li>
    </ul>
</div>