<div>
  <input aria-describedby="emailHelp" maxlength="80" type="text" placeholder="MARK-V111">
</div>
<br>
<div>
  <form (ngSubmit)="buscar()" autocomplete="off">
    <input type="Text"
           name="Termino"
           class="form-control"
           [(ngModel)]="termino"
           (input)="teclaPresionada( $event )"
           placeholder="Cuenta UV"/>
  </form>
</div>
<button (click)="AddMemberAccount(termino)" >
  Agregar
</button>
<div *ngFor="let Member of Members" class="d-flex justify-content-between">
  <span class="d-flex">
    <img  src="{{Member.imgProfile}}" alt="" class="img-thumbnail g-bg-black" width="100" >
    <div>
      Nombre: {{Member.Name}} <br>
      Correo: {{Member.email}}
    </div>
  </span>
  <button>
    <i class="fa-regular fa-circle-xmark text-danger" style="cursor: pointer"></i>
  </button>
</div>