.ImgMember{
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
  }
html, body { height: 100%; }
body { margin-left: 30px; }

.Newform {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.Nwfull-width {
  width: 100%;
}
.MemberCard {
  max-width: 400px;
  margin-bottom: 8px;
}